@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Caprasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root {
  --bg-one: #F6F6F6;
  --bg-two: #F7F6F6;
  --txt-one: #5C715E;
  --txt-two: #862B0D;
  --idk:#F28482; 
  --IDK3: #616161;
  --black: #1B1A17;
} */


:root {
  --one: #171719;
  --two: #1f1f20;
  --three: #F28482;
  --four: #e2e3eb;
  --five: #fad499;
  --six: #131313;
  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-bottom: 98px; */
}