.footerContainer {
    background-color: var(--darker);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    bottom: 0;
    position: relative;
}

.footerContent {
    color: var(--green);
    font-size: .8rem;
}

