.footerContainer {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    bottom: 0;
    position: relative;
}

.footerContent {
    color: #fad499;
    font-size: .8rem;
}

