nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--four);
    background-color: var(--six);
}


.navItens {
    list-style: none;
    display: flex;
    gap: 2rem;
 
}

.navItens>li>a {
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Caprasimo', cursive;
    color: var(--four);
}

.logo {
    font-size: 2rem;
    letter-spacing: .4rem;
    color: var(--five);
    font-family: 'Bungee Shade', cursive;
    cursor: pointer;
    display: inline-block;
}

.navItens>li:hover{
    background-color: var(--two);
    border-radius:10px;
    padding-right: .6rem;
    transition: .5s;
}

