.formContainer {
    background-color: var(--dark);
}

.form {
    height: 50rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  
}

.formInput {
    width: 60%;
    padding: .6rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
    background-color: var(--grey);
}

.formButton {
    width: 60%;
    padding: .6rem 2rem;
    background-color: green;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}


.formButton:hover {
    background-color: #4ca;
}

::placeholder {
    color: var(--light);
}

