.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 5rem;
    background-color: var(--two);
    width: 100%;
}

.cardContainer {
    text-align: center;
    background-color: var(--six);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.09);
}

.cardTitle {
    color: var(--three);

}

.cardDescription {
    color: var(--four);
    font-weight: 300;

}