.repoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: aquamarine;
    text-align: center;
    padding-top: 6rem;
    background-color: var(--dark);
    padding-bottom: 3rem
}


.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center;
    align-items: center; */
    width: 90%;
    gap: 2rem;
    margin-left: 14rem;
}

.cardRepo {
    background: #686AAC;
    width: 80%;
    height: 30vh;
    padding: 2rem;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .cardRepoText {
    font-size: .8rem;
    color: #f3f3f3;
  }
  
  /* .cardRepoTitle {

  } */