.sobreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: var(--two);
    gap: 3rem;
    color: var();
    text-align: justify;
    list-style: decimal;
}

.sobreCard {
    width: 30rem;
    background-color: #1717192e;
    border-radius: 10px;
    padding: 1.2rem;
    color: var(--four);

}

.sobreTitle {
    color: var(--five);
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: .5rem;
}

.sobreImg {
    width: 15%;
    border-radius: 70px;
}

.curiosidadesTitle {
    text-align: center;
    color: var(--five);
}
.cardCurisidades {
    padding-top: .9rem;
    padding-bottom: .3rem;
    color: var(--four);
    font-size: .9rem;
    text-align: center;
}
