.footerContainer {
    background-color: #686AAC;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footerContent {
    color: #fff;
    font-size: 1rem;
}

